<div class="container designer">
    <div class="row">
        <form novalidate class="simple-form">
            Search: <input type="text" ng-model="searchName" /><br/>
        </form>
    </div>
    <table class="table table-hover table-bordered campaigns">
        <thead>
            <tr>
                <th>Name</th>
                <th>Advertiser Name</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Budget</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in campaigns | filter:campaignsFullText">
                <td>{{campaign.name}}</td>
                <td>{{campaign.advertiserName}}</td>
                <td>{{campaign.description}}</td>
                <td>
                    <span ng-repeat="tag in campaign.tags" class="badge">{{tag}}</span>
                </td>
                <td>{{campaign.budget}}</td>
                <td>{{campaign.startDate}}</td>
                <td>{{campaign.endDate}}</td>
            </tr>

        </tbody>
    </table>
</div>
