<div class="row">

<div class="col-md-10 col-md-offset-1">
<ul class="list-group">
	<li class="list-group-item">
		<div class="progress pull-left" style="width: 10%">
			<div class="progress-bar" role="progressbar" aria-valuenow="0"
				aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
				<span class="sr-only">0% Complete</span>
			</div>
		</div> 
		New Years Special
		<span class="pull-right">
			<a href="#/campaigns/123/monitoring"><i class="icon-bar-chart"></i> Monitoring</a>
			<a href="#/campaigns/123/dashboard"><i class="icon-certificate"></i> Qualify Subscriptions<span class="badge">1</span></a>
		</span>
	</li>
	<li class="list-group-item">
		<div class="progress pull-left" style="width: 10%">
			<div class="progress-bar" role="progressbar" aria-valuenow="60"
				aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				<span class="sr-only">60% Complete</span>
			</div>
		</div> 
		All Year 2014 Mega Campaign
		<span class="pull-right">
			<a href="#/campaigns/123/monitoring"><i class="icon-bar-chart"></i> Monitoring</a>
			<a href="#/campaigns/123/dashboard"><i class="icon-certificate"></i> Qualify Subscriptions<span class="badge">4</span></a>
		</span>
	</li>
	<li class="list-group-item">
		<div class="progress pull-left" style="width: 10%">
			<div class="progress-bar" role="progressbar" aria-valuenow="100"
				aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
				<span class="sr-only">100% Complete</span>
			</div>
		</div> 
		<strike>Back to School 2013</strike>
		<span class="pull-right">
			<a href="#/campaigns/123/monitoring"><i class="icon-bar-chart"></i> Monitoring</a>
		</span>
	</li>
</ul>
</div>
