<div class="row">
<div class="container">

<div class="row">
    <h1><img src="../img/sarenza-logo-web.png"/> Nouvelle collection hiver 2013</h1></div>
</div>
<h2>Qualify Subscription</h2>
<span class="help-text">Do you want to use this visual ?</span>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4 center-content">
	<button type="button" class="btn btn-info">Accept</button>
	<button type="button" class="btn btn-default">Later</button>
	<button type="button" class="btn btn-danger">Reject</button>
</div>
</div>
<div class="row">
<div class="col-md-5 center-content">
<img ng-src="../img/bandeau-sarenza-0.jpg" />
</div>
<div class="col-md-4">
<h3>Targeting</h3>
<ul>
	<li>Women</li>
	<li>Aged 20-40</li>
	<li>From Paris (incl. suburbs)</li>
</ul>
</div>
<div class="col-md-3">
<h3><i class="icon-user"></i> David</h3>
<ul>
	<li><i class="icon-bar-chart"></i> Perf <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></li>
	<li><i class="icon-thumbs-up"></i> Recommended <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half-full"></i></li>
</ul>
</div>
</div>

<div class="row">
<h2>Incoming Submissions</h2>
<ul class="nav nav-pills">
<li><a><i class="icon-user"></i> Elena</a></li>
<li><a><i class="icon-user"></i> Stephan</a></li>
<li><a><i class="icon-user"></i> Morgane</a></li>
<li><a><i class="icon-user"></i> David</a></li>
<li><a><i class="icon-user"></i> TheDude</a></li>
<li><a><i class="icon-user"></i> John</a></li>
<li><a><i class="icon-user"></i> Tim</a></li>
</ul>
</div>

</div>
</div>
