.designer .campaigns tr {
    cursor: pointer;
}

.tag {
    margin-right: 10px;
}

body {
    background-color: rgb(155, 89, 182);
    background-image: url(../../img/textured_paper.png);
    background-size: auto;
    background-repeat: repeat repeat;
}

.sect {
    margin-bottom: 20px;
}